aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiohttp-retry==2.9.1
aiosignal==1.3.2
alembic==1.15.2
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
bidict==0.23.1
billiard==4.2.1
build==1.2.2.post1
celery==5.5.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
codetiming==1.4.0
colorstreak==0.1.0
contourpy==1.3.3
cron-descriptor==1.4.5
cycler==0.12.1
dask==2025.3.0
Django==5.2
django-celery-beat==2.8.1
django-timezone-field==7.1
docutils==0.21.2
epok-toolkit @ file:///Users/ferleon/Documents/GitHub/epok_toolkit_lib
fastapi==0.115.11
fonttools==4.59.1
frozenlist==1.5.0
fsspec==2025.3.2
granian==2.2.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
id==1.5.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
joblib==1.5.1
keyring==25.6.0
kiwisolver==1.4.9
kombu==5.5.4
lazy_loader==0.4
llvmlite==0.44.0
locket==1.0.0
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl==0.1.2
more-itertools==10.6.0
multidict==6.4.3
narwhals==1.31.0
nh3==0.2.21
nltk==3.9.1
numba==0.61.2
numpy==2.1.3
packaging==24.2
pandas==2.2.3
partd==1.4.2
pillow==11.3.0
platformdirs==4.3.7
plotly==6.0.1
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==7.0.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
pyTelegramBotAPI==4.25.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-engineio==4.11.2
python-multipart==0.0.20
python-socketio==5.12.1
pytz==2025.2
PyYAML==6.0.2
ratelimit==2.2.1
readme_renderer==44.0
redis==5.2.1
reflex==0.7.7a1
reflex-hosting-cli==0.1.41
regex==2025.7.34
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
scikit-learn==1.7.1
scipy==1.16.1
setuptools==76.1.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
sqlmodel==0.0.24
sqlparse==0.5.3
starlette==0.46.1
starlette-admin==0.14.1
tabulate==0.9.0
telebot==0.0.5
tenacity==9.1.2
threadpoolctl==3.6.0
tomlkit==0.13.2
toolz==1.0.0
tqdm==4.67.1
twilio==9.5.2
twine==6.1.0
typer==0.15.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.34.0
vine==5.1.0
watchfiles==1.0.5
wcwidth==0.2.13
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.19.0
